extends layout

block content
  .container
    .row
     .col.s12
        nav(style="background-color: #082768")
         x.nav-wrapper
          span.flow-text 
           | &nbsp; Nodejs file upload with MongoDB
     
    form(action='/objupload' method="POST" enctype="multipart/form-data")
      .row
        .col.s12
          if msg ==1
            .success
              | Photo uploaded successfully
          else if msg == 2
            .error
              | File size too large
          else if msg == 3
            .error
              | Invalid file type. Only JPG, PNG or GIF file are allowed.      
      .row
        .col.s12 
          .file-field.input-field
            .btn.grey
              span File
              input(type='file' name="photo" required)
            .file-path-wrapper
              input.file-path.validate(type='text' )
      .row
       .input-field.col.s12
        input#caption.validate(type='text' name="caption")
        label(for='caption') Caption 
      
      .row
        .col.s12 
          button.btn.waves-effect.waves-light(type='submit', name='action')
            | Upload
            i.material-icons.right send
      .row
        .col.s12
         h4 Photo Gallery
      if photolist.length
         | <div class="row">
         each pic, index in photolist
          |<div class ="col s3"><img src = #{pic['path']} alt="image" class="responsive-img" /><p class="center-align caption">#{pic['caption']}</p></div> 
          if (((index+1) % 4) == 0 )
           | </div><div class="row">
      else
       .row
          .col.s12
            .caption No photos uploaded yet.